{% extends 'personalpage/base.html'%}

{% block title %}
{% for item in text %}
        {{ item.name }}
    {% endfor %}
{% endblock %}
<!-- About big text block -->
{% block content %}
    <div align="left">
        {% if text %}
            {% for item in text %}

                <h1 align="center" class="content">{{ item.title }}</h1>
                <p>{{ item.text|safe }}</p>

            {% endfor %}
        {% else %}
            <p> Что-то пошло не так. Уже чиним! </p>
        {% endif %}
    </div>
{% endblock %}
<!-- Block with diploma images -->
{% block pictures%}
    <picture>
        <source srcset="..." type="image/svg+xml">
        <img src="..." class="rounded mx-auto d-block" alt="...">
    </picture>
{% endblock %}

{% block button %}
        <button class="button"><a href="query">Записаться на консультацию</a></button>
{% endblock %}

