{% extends 'personalpage/base.html'%}
{% load static %}
{% load my_custom_filters %}

<!-- Title of the page -->
{% block title %}
    {% for item in text %}
        {{ item.name|upper }}
    {% endfor %}
{% endblock %}

<!-- Home page main picture -->
{% block image %}
    <img src="{% static 'img/main_pic.png' %}" class="img-fluid" alt="main img">
{% endblock %}

<!-- Welcome text -->
{% block content %}
    {% if text %}
        {% for item in text %}
        <div>
            <h1 class="content  text-center">{{ item.title|upper }}</h1>
            <p>{{ item.text|safe }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p> Упс. Что-то пошло не так. Уже чиним! </p>
    {% endif %}
    <br>
{% endblock %}

<!-- Button leading to the page with the form -->
{% block button %}
    <button class="button"><a href="query">Записаться на консультацию</a></button>
{% endblock %}

{% block posts %}
 <!--   {% for p in posts %}
        <div class="col-md-4">
        <article class="card mb-4">
            <header class="card-header">
                -->
                <!-- <div class="content card-meta">
                    datetime
                </div> -->
<!--                <h4 class="content"><b>{{ p.title|upper }}</b></h4>
            </header>
            <div class="content card-body">
                <p class="card-text">{{ p.body|safe }}</p>
            </div>
        </article>
        </div>

    {% endfor %}-->
{% endblock %}
