{% extends 'personalpage/base.html'%}
{% load static %}

{% block title %}
    {% for item in text %}
        {{ item.name }}
    {% endfor %}
{% endblock %}

{% block image %}
    <img src="{% static 'img/main_pic.png' %}" class= "img-fluid" alt="main img">
{% endblock %}

{% block content %}
        {% if text %}
            {% for item in text %}
                <div>
                    <h1 class="content">{{ item.title }}</h1>
                    <p>{{ item.text|safe }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p> Что-то пошло не так. Уже чиним! </p>
        {% endif %}
    <br>
{% endblock %}

{% block button %}
    <button class="button"><a href="query">Записаться на консультацию</a></button>
{% endblock %}