{% extends 'personalpage/base.html'%}

{% block title %}
    {% for item in text1 %}
        {{ item.name }}
    {% endfor %}
{% endblock %}

{% block content %}
    <p class="lead">
        {% if text1 %}
            {% for item in text1 %}
                <div>
                    <h1 class="content">{{ item.title }}</h1>
                    <p>{{ item.text_1|safe }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p> Что-то пошло не так. Уже чиним! </p>
        {% endif %}
    </p>
{% endblock %}

{% block table %}
    {% if text2 %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Услуга</th>
                    <th>Продолжительность</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>

                    {% for item in text2 %}
                        {% if item.id <= 7 %}
                        <tr>
                            <td>{{ item.service }}</td>
                            <td>{{ item.duration }}</td>
                            <td>{{ item.price }} RUB</td>
                        </tr>
                        {% endif %}
                    {% endfor %}

            </tbody>
        </table>
    {% else %}
        <p> Table is not available! </p>
    {% endif %}
{% endblock %}

{% block content2 %}
<p class="lead">
        {% if text1 %}
            {% for item in text1 %}
                <div>

                    <p>{{ item.text_2|safe }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p> Что-то пошло не так. Уже чиним! </p>
        {% endif %}
    </p>
{% endblock %}

{% block table2 %}
    {% if text2 %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Услуга</th>
                    <th>Продолжительность</th>
                    <th>Цена</th>
                </tr>
            </thead>
            <tbody>

            {% for item in text2 %}
                {% if item.id > 7 %}
                <tr>
                    <td>{{ item.service }}</td>
                    <td>{{ item.duration }}</td>
                    <td>{{ item.price }} GEL</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> Table is not available! </p>
    {% endif %}
{% endblock %}

{% block content3 %}
<p class="lead">
        {% if text1 %}
            {% for item in text1 %}
                <div>

                    <p>{{ item.text_3|safe }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p> Что-то пошло не так. Уже чиним! </p>
        {% endif %}
</p>

{% endblock %}
{% block button %}
        <button class="button"><a href="query">Записаться на консультацию</a></button>
{% endblock %}
