{% extends 'personalpage/base.html'%}

<!-- Title of the page -->
{% block title %}
    Заявка на консультацию
{% endblock %}

<!-- Registry Form -->
{% block content %}
    <h1 class="content text-center pb-2">Заявка на консультацию</h1>
    <p class="lead pb-1">Заполните, пожалуйста, форму:
        <form method="post">
            {% csrf_token %}
            {{ form.name }}<br>
            {{ form.phone }}<br>
            {{ form.gmt }}<br>
            {{ form.query }}<br>
            <div class="container text-center">
            <button type="submit" class="button ">Отправить заявку</button>
            <span>{{ err }}</span>
                <br>
                Необходимо заполнить все поля.
            </div>
        </form>

    </p>
{% endblock %}